<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Realfast Candidate Tagging System</title>

  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/1.7.1/jquery-1.7.1.min.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>  

  <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js')}}"></script>

  <!-- note that we require the es.js integration, the bootstrap2 facetview and the facetview core -->
  <script type="text/javascript" src="{{url_for('static', filename='es.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap2.facetview.theme.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery.facetview2.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/facetview.css')}}">

  <script type="text/javascript">
    function change_tag(id, context) {
        var tag = $(context).attr("name");
	if ($(context).is(":checked")) {
            $.get("/api/add_tag/" + id + "?tag=" + tag);
        } else {
            $.get("/api/remove_tag/" + id + "?tag=" + tag);
        }
    }

    function click_scan(event, context, scan_id) {
        // activate the scan popup
        request_url = "/api/scan-info/" + scan_id.toString();
	console.log(request_url);
	$.get(request_url, function(resp) {
                // resp contains the html to display
                $("#scan-info").html(resp).dialog({
                    width: 'auto',
                    modal: true,
                    beforeClose: function() {
                        $(context).css("color", "black");
                    }
                });
        });
	$(context).css("color", "red");
    }

    function click_cands(event, context, scan_id) {
        // activate the scan popup
//        request_url = "http://www.aoc.nrao.edu/~claw/realfast/plots/cands_" + scan_id.toString() + ".html";
        request_url = "/api/get-cands-plot/" + scan_id.toString();
	console.log(request_url);
        $("#cands-info iframe").attr("height", 420).attr("width", 960).attr("src", request_url);
        $("#cands-info").dialog({
                   position: {my: "left top", at: "left top"},
                   width: 1020,
                   height: 480,
                   modal: true,
                   beforeClose: function() {
                        $(context).css("color", "black");
                    }
                });
	$(context).css("color", "red");
    }

    function click_preference(event, context, prefsname) {
        // activate the preference popup
        request_url = "/api/preference-info/" + prefsname.toString();
	console.log(request_url);
	$.get(request_url, function(resp) {
                // resp contains the html to display
                $("#preference-info").html(resp).dialog({
                    width: 'auto',
                    modal: true,
                    beforeClose: function() {
                        $(context).css("color", "black");
                    }
                });
        });
	$(context).css("color", "red");
    }

    function click_mock(event, context, scanId) {
        // activate the mock popup
        request_url = "/api/mock-info/" + scanId.toString();
	console.log(request_url);
	$.get(request_url, function(resp) {
                // resp contains the html to display
                $("#mock-info").html(resp).dialog({
                    width: 'auto',
                    modal: true,
                    beforeClose: function() {
                        $(context).css("color", "black");
                    }
                });
        });
	$(context).css("color", "red");
    }

    function search_help(event, context) {
        // activate the search help
        url = "https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_boolean_operators";
        resp = "<ul><li>Search examples:</li>";
        resp += "<ul><li>canddm:>100</li>";
	resp += "<li>snrtot:>10 AND NOT canddt:>0.02</li></ul>";
        resp += "<li>See also the <a href='" + url + "'>elasticsearch help</a>.</li>";
	resp += "<li>If you see page stuck with 'SEARCHING' click the x to reset search.</li>";
	resp += "<li>Click arrow to change sort order.</li>";
        resp += "<li>Use pulldown to change sort field to snrtot or candmjd.</li></ul></p>";
        resp += "<p>Group tagging uses cookies to apply single tag to all candidates in last query.</p>";
        resp += "<p>Candidate index fields: tags, scanId, datasetId, prefsname, snr1, snrtot, clustersize, candmjd, canddm (pc/cm3), canddt (s), scan, segment, integration, dmind, dtind, and (sometimes) spec/im + std/skew/kurtosis</p>";
        resp += "<p>Scan index fields: scanId, prefsname, ra_deg, dec_deg, source, startTime, stopTime, datasource, scan_intent, scanNo, datasetId.</p>";
        // resp contains the html to display
        $("#help-info").html(resp).dialog({
            width: '50%',
            modal: true,
            beforeClose: function() {
                $(context).css("color", "black");
            }
        });
	$(context).css("color", "red");
    }

    function renderResult(options, record) {
	var id = record.scanId.toString() + "_seg" + record.segment.toString() + "-i" + record.integration.toString() + "-dm" + record.dmind.toString() + "-dt" + record.dtind.toString();
        htmlString = "<div>candId: "
        htmlString += record.scanId.toString() + "_seg" + record.segment.toString() + "-i" + record.integration.toString() + "-dm" + record.dmind.toString() + "-dt" + record.dtind.toString()
        htmlString += "<ul><li>(candmjd, canddm, canddt): "
        htmlString += record.candmjd.toString() + ", " + record.canddm.toString() + ", " + record.canddt.toString() + "</li>"
        htmlString += "<li>snrtot: "
        htmlString += record.snrtot.toFixed(2).toString()
        htmlString += "</li>"
        htmlString += "<li>clustersize: "
        htmlString += record.clustersize.toString()
        htmlString += "</li>"

        {% if session.logged_in %}
	htmlString += "<li>More info:</li>"
        htmlString += "<ul><li class=\"clickable\" onclick=\"click_scan(event, this, '" + record.scanId + "')\">Show scan info</li>"
        htmlString += "<li class=\"clickable\" onclick=\"click_cands(event, this, '" + record.scanId + "')\">Show scan summary</li>"
	htmlString += "<li><a href='http://search.realfast.io/?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22scanId%5C%5C%3A%5C%22" + record.scanId.toString() + "%5C%22%22%2C%22default_operator%22%3A%22OR%22%7D%7D%2C%22sort%22%3A%5B%7B%22snrtot%22%3A%7B%22order%22%3A%22desc%22%7D%7D%5D%2C%22from%22%3A0%2C%22size%22%3A10%7D'>Search for candidates in scan</a></li>"
	htmlString += "<li><a href='http://search.realfast.io/?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22scanId%5C%5C%3A%5C%22" + record.scanId.toString() + "%5C%22%20AND%20segment%5C%5C%3A" + record.segment.toString() + "%22%2C%22default_operator%22%3A%22OR%22%7D%7D%2C%22sort%22%3A%5B%7B%22snrtot%22%3A%7B%22order%22%3A%22desc%22%7D%7D%5D%2C%22from%22%3A0%2C%22size%22%3A10%7D'>Search for candidates in segment</a></li></ul>"

        htmlString += "<li>Tags: <div class=\"checks\">"
        var possible_tags = {{ allowed_tags|tojson|safe }};
        if (!record.{{ session.userid }}_tags) {
            for (var i = 0; i < possible_tags.length; i++) {
                htmlString += "<div class=\"clickablecheck\"><input onchange=\"change_tag('" + id + "', this);\" type=\"checkbox\" name=\"" + possible_tags[i] + "\"> " + possible_tags[i] + "</div>";
            }
        } else {
            var curr_tags = record.{{ session.userid }}_tags.split(",");
            for (var i = 0; i < possible_tags.length; i++) {
                if (curr_tags.includes(possible_tags[i])) {
		    htmlString += "<div class=\"clickablecheck\"><input onchange=\"change_tag('" + id + "', this);\" type=\"checkbox\" name=\"" + possible_tags[i] + "\" checked> " + possible_tags[i] + "</div> ";
                } else {
		    htmlString += "<div class=\"clickablecheck\"><input onchange=\"change_tag('" + id + "', this);\" type=\"checkbox\" name=\"" + possible_tags[i] + "\"> " + possible_tags[i] + "</div> ";
                }
            }
        }
        htmlString += "</div></li>"
        {% endif %}

	htmlString += "</ul>"

        if (record.png_url != "") {
            htmlString += "<img src=\"" + record.png_url + "\">";
        }
        htmlString += "<hr></div>";
        return htmlString;
    }

    jQuery(document).ready(function($) {
        $('.facet-view-cands').each(function() {
            $(this).facetview({
                search_url : "http://search.realfast.io/api/cands/cand/_search",
                datatype : "json",
                default_freetext_fuzzify: "*",
                sort: [{"snrtot" : {"order" : "desc"}}],
                facets: [ ],
                default_facet_size: 12,
                include_facets_in_url:false,
                include_facets:true,
                from: 0,
                search_sortby: [
                    {'display':'snrtot',         'field':'snrtot'},
                    {'display':'candmjd',      'field':'candmjd'},
                ],
                search_button: true,
                sharesave_link: true,
                debug: false,
                stored_fields: ["scanId", "prefsname",{% if session.logged_in %}{{ (session.userid + "_tags")|tojson|safe }},{% endif %}"scan", "segment", "integration", "dmind", "dtind", "png_url", "candmjd", "canddm", "canddt", "snrtot", "snr1", "clustersize"],
                render_results_metadata: pageSlider,
                render_result_record: renderResult,
             // selected_filters_in_facet: true,
                show_filter_field : true,
                show_filter_logic: true,
                pushstate : false,
                exclude_predefined_filters_from_facets : false
            });
        });
        $('.facet-view-scans').each(function() {
            $(this).facetview({
                search_url : "http://search.realfast.io/api/scans/scan/_search",
                datatype : "json",
                default_freetext_fuzzify: "*",
                sort: [{"startTime" : {"order" : "desc"}}],
                facets: [ ],
                default_facet_size: 12,
                include_facets_in_url:false,
                include_facets:true,
                from: 0,
                search_sortby: [
                    {'display':'startTime',         'field':'startTime'},
                    {'display':'ra_deg',         'field':'ra_deg'},
                    {'display':'dec_deg',         'field':'dec_deg'},
                ],
                search_button: true,
                sharesave_link: true,
                debug: false,
                stored_fields: ["scanId", "datasetId", "scan_intent", "datasource", "startTime", "stopTime", "ra_deg", "dec_deg", "scanNo", "subscanNo", "prefsname", "source", "inttime", "band", "nsegment", "pending", "finished", "errors"],
                render_results_metadata: pageSlider,
                "result_display" :
                [
                  [
                    { "pre": "scanId: ", "field": "scanId", "post": "</a>"},
                    { "pre": "<ul><li>(source, intent, datasource): ", "field": "source", "post": "," },
                    { "pre": " ", "field": "scan_intent", "post": ","},
                    { "pre": " ", "field": "datasource", "post": "</li>"},
                    { "pre": "<li>(scan, subscan): ", "field": "scanNo", "post": "," },
                    { "pre": " ", "field": "subscanNo", "post": "</li>"},
                    { "pre": "<li>(band, inttime): ", "field": "band", "post": "," },
                    { "pre": " ", "field": "inttime", "post": "</li>"},
                    { "pre": "<li>(startTime, stopTime): ", "field": "startTime", "post": "," },
                    { "pre": " ", "field": "stopTime", "post": "</li>"},
                    { "pre": "<li>(RA, Dec): ", "field": "ra_deg", "post": "," },
                    { "pre": " ", "field": "dec_deg", "post": "</li>" },
		    { "pre": "<li>(searchtype, fftmode): ", "field": "searchtype", "post": ","},
                    { "pre": " ", "field": "fftmode", "post": "</li>"},
                    { "pre": "<li>Submitted nsegment: ", "field": "nsegment", "post": " (" },
                    { "pre": "", "field": "pending", "post": " pending, " },
                    { "pre": "", "field": "finished", "post": " finished, " },
                    { "pre": "", "field": "errors", "post": " errors)</li>" },
		    { "pre": "<li>More info: <ul><li><a href='http://search.realfast.io/?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22scanId%5C%5C%3A%5C%22", "field": "scanId", "post": "%5C%22%22%2C%22default_operator%22%3A%22OR%22%7D%7D%2C%22sort%22%3A%5B%7B%22snrtot%22%3A%7B%22order%22%3A%22desc%22%7D%7D%5D%2C%22from%22%3A0%2C%22size%22%3A10%7D'>Search for candidates in scan</a></li>"},
                    { "pre": "<li class=\"clickable\" onclick=\"click_cands(event, this, '", "field": "scanId", "post": "')\">Show scan summary</li>"},
                    { "pre": "<li class=\"clickable\" onclick=\"click_preference(event, this, '", "field": "prefsname", "post": "')\">Show preferences</li>"},
                    { "pre": "<li class=\"clickable\" onclick=\"click_mock(event, this, '", "field": "scanId", "post": "')\">Show mock transient</li></ul></ul>"},
                 ],
              ],
              // selected_filters_in_facet: true,
              show_filter_field : true,
              show_filter_logic: true,
              "pushstate" : false,
              exclude_predefined_filters_from_facets : false
            });
        });
    });

  </script>

  <script>
    $(function() {
        $("#tabs").tabs();
        $("#tabs").tabs("select", {{curr_tab}});
    });

    function reset_group_tag() {
        var default_html = "";
        default_html += '<h3>Apply what tags to last search result?</h3>';
        {% for tag in allowed_tags %}
            default_html += '<input type="checkbox" id="group-tag-{{ tag }}" name="{{ tag }}"> {{ tag }} <br>';
        {% endfor %}
        default_html += '<button onclick="group_tag(1, this)">Next</button>';
        $("#group-tag-dialog").html(default_html);
    }

    function group_tag(stage, context, prevHTML) {
        if (stage == 0) {
            $("#group-tag-dialog").dialog({
                modal: true,
                width: "50%"
            });
        } else if (stage == 1) {
            // confirm the number of candidates and tags

            var inputs = $(context).parent().children("input");
            var new_tags = "";
            for (var i = 0; i < inputs.length; i++) {
                if ($(inputs[i]).is(":checked")) {
                    new_tags += $(inputs[i]).attr("name");
                    new_tags += ",";
                }
            }
            if (new_tags != "") {
                new_tags = new_tags.slice(0, new_tags.length-1);
            }

            selectedHTML = new_tags;
            var confirmationText = "<p>Are you sure you want to re-tag these candidates with " + new_tags + "?</p>";
            confirmationText += '<button onclick="group_tag(2, this, selectedHTML)">Yes</button>';
            confirmationText += '<button onclick="group_tag(-1, this)">No</button>';
            $("#group-tag-dialog").html(confirmationText).dialog({
                beforeClose: function() {
                    reset_group_tag();
                }
            });
        } else if (stage == 2) {
            new_tags = selectedHTML;
	    $.get("/api/group-tag", {"tags": new_tags}, function(resp) {
		response_info = JSON.parse(resp);
		if (response_info.type == "failure") {
		    $("#group-tag-dialog").html("There was an error, not all tags may have been updated").dialog({
		        beforeClose: function() {
		            $("#group-tag-dialog").html(tmp);
		        }
		    });
		} else {
		    $("#group-tag-dialog").html("Success! " + response_info.updated.toString() + " candidates updated.").dialog({
		        beforeClose: function() {
		            reset_group_tag();
			    $("[name=q]").keyup();
		        }
		    });
		}
	    })
            $("#group-tag-dialog").html("Working...").dialog({
                beforeClose: function() {
                    reset_group_tag();
                }
            });
        } else {
            reset_group_tag();
        }
    }

    function change_prefix() {
        var prefix = $("#prefix-selection option:selected").html();
        console.log(prefix);
        $.get("/set-prefix/" + prefix,
              function() { $("[name=q]").keyup(); }
        );
    }
  </script>

  <style type="text/css">
    .facet-view-cands{
      width:90%;
      height:100%;
      margin:20px auto 0 auto;
      overflow: scroll;
      font-size: 100%;
    }

    .facet-view-scans{
        width:90%;
        height:100%;
        margin:20px auto 0 auto;
        overflow: scroll;
        font-size: 100%;
    }

    .tag-visual {
      display: inline-block;
      width: 50px;
      border: 1px solid black;
      border-radius: 5px;
      padding-left: 2px;
      margin-left: 5px;
      position: relative;
    }

    .tag-visual img {
      display: none;
      position: absolute;
      bottom: 15px;
      left: 40px;
      background-color: white;
    }

    .tag-visual:hover img {
      display: inline;
    }

    .tag-visual img:hover {
      cursor: pointer;
    }

    .checks {
      width:500px;
      height:25px;
    }

    a:hover {
      text-decoration: none;
      cursor: pointer;
      color:#ccc;
    }

    .clickable:hover {
      cursor: pointer;
    }

    .clickable:hover {
      cursor: pointer;
      color:#ccc;
    }

    .clickablecheck {
      float: left;
      margin-right: 12pt;
    }

    .clickablecheck:hover {
      float: left;
      margin-right: 12pt;
      color:#ccc;
    }

    #group-tag-dialog {
        display: none;
    }
  </style>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == "success" %}
              <div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}</div>
          {% elif category == "error" %}
              <div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}" class="btn">Log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}" class="btn">Log out</a>
    {% endif %}
    <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Candidates</a></li>
          {% if session.logged_in %}
            <li><a href="#tabs-2">Scans Searched</a></li>
            <li><a href="/get-curr-log">Tagging Log</a></li>
	    <span style="float: right">{{session.userid}} logged in</span>
          {% endif %}
        </ul>
        <div id="tabs-1">
          <button onclick="search_help(event, this)">?</button>
	  {% if session.logged_in %}
	    <button onclick="group_tag(0, this)">Group tag</button>
          <a href="http://search.realfast.io/?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22_exists_%5C%5C%3A{{ session.userid }}_tags%22%2C%22default_operator%22%3A%22OR%22%7D%7D%2C%22sort%22%3A%5B%7B%22snrtot%22%3A%7B%22order%22%3A%22desc%22%7D%7D%5D%2C%22from%22%3A0%2C%22size%22%3A10%7D"><button type="button">Show my tagged</button></a>
          <a href="http://search.realfast.io/?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22NOT%20_exists_%5C%5C%3A{{ session.userid }}_tags%22%2C%22default_operator%22%3A%22OR%22%7D%7D%2C%22sort%22%3A%5B%7B%22snrtot%22%3A%7B%22order%22%3A%22desc%22%7D%7D%5D%2C%22from%22%3A0%2C%22size%22%3A10%7D"><button type="button">Show my untagged</button></a>
          <a href="http://search.realfast.io/?source=%7B%22query%22%3A%7B%22query_string%22%3A%7B%22query%22%3A%22tagcount%5C%5C%3A%200%22%2C%22default_operator%22%3A%22OR%22%7D%7D%2C%22sort%22%3A%5B%7B%22snrtot%22%3A%7B%22order%22%3A%22desc%22%7D%7D%5D%2C%22from%22%3A0%2C%22size%22%3A10%7D"><button type="button">Show untagged</button></a>
          {% endif %}

	  {% if session.logged_in %}
          <span style="float: right"> Index selection:
            <select id="prefix-selection" onchange="change_prefix()">
              {% for prefix in index_prefixes %}
		{% if session.prefix == prefix %}
                  <option selected="selected">{{prefix}}</option>
		{% else %}
                  <option>{{prefix}}</option>
		{% endif %}
	      {% endfor %}
            </select>
          </span>
	  {% endif %}
	  <div class="facet-view-cands"></div>
        </div>
	{% if session.logged_in %}
          <div id="tabs-2">
          <button onclick="search_help(event, this)">?</button>
  	  <div class="facet-view-scans"></div>
          </div>
	{% endif %}
    </div>
    <div id="scan-info" title="Scan info"></div>
    <div id="cands-info" title="Cands info"><iframe src="" height="0" width="0"></iframe></div>
    <div id="preference-info" title="Preference info"></div>
    <div id="mock-info" title="Mock info"></div>
    <div id="help-info" title="Help"></div>
    <div id="group-tag-dialog" title="Group tag">
        <h3>Apply what tags to last search result?</h3>
    


    {% for tag in allowed_tags %}
        <input type="checkbox" id="group-tag-{{ tag }}" name="{{ tag }}"> {{ tag }} <br>
        {% endfor %}
        <button onclick="group_tag(1, this)">Next</button>
    </div>
</body>

</html>
