<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>FacetView</title>

  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/1.7.1/jquery-1.7.1.min.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>  

  <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js')}}"></script>

  <!-- note that we require the es.js integration, the bootstrap2 facetview and the facetview core -->
  <script type="text/javascript" src="{{url_for('static', filename='es.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap2.facetview.theme.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery.facetview2.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/facetview.css')}}">

  <script type="text/javascript">
jQuery(document).ready(function($) {
    $('.facet-view-simple').each(function() {
        $(this).facetview({
            search_url : "http://search.realfast.io/api/cands/cand/_search",
            datatype : "json",
            default_freetext_fuzzify: "*",
            sort: [{"snr1" : {"order" : "desc"}}],
            facets: [ ],
            default_facet_size: 12,
            include_facets_in_url:false,
            include_facets:true,
            from: 0,
            search_sortby: [
                {'display':'snr1',         'field':'snr1'},
                {'display':'dmind',         'field':'dmind'},
                {'display':'dtind',         'field':'dtind'},
            ],
            searchbox_fieldselect: [
                {'display':'scanId',         'field':'scanId'},
                {'display':'tags',         'field':'tags'},
                {'display':'prefsname',         'field':'prefsname'},
            ],
            search_button: false,
            sharesave_link: true,
            debug: false,
            stored_fields: ["prefsname", "scanId", "snr1", "scan", "candidate_png", "dmind", "dtind", "integration", "segment", "tags"],
            render_results_metadata: pageSlider,
            "result_display" : 
              [
                [ 
                  { "pre": "<table><tr><th><li>scanId: <a href='http://search.realfast.io/api/scans/scan/", "field": "scanId", "post": "'>"}, 
                  { "pre": " ", "field": "scanId", "post": "</a></li>" },
                  { "pre": "<li>(scan, segment, integration, dm, dt): ", "field": "scan", "post": "," },
                  { "pre": " ", "field": "segment", "post": "," },
                  { "pre": " ", "field": "integration", "post": "," },
                  { "pre": " ", "field": "dmind", "post": "," },
                  { "pre": " ", "field": "dtind", "post": "</li>" },
                  { "pre": "<li>snr1: ", "field": "snr1", "post":"</li>"},
                  { "pre": "<li>preferences: <a href='http://search.realfast.io/api/preferences/preference/", "field": "prefsname", "post": "'>"}, 
                  { "pre": " ", "field": "prefsname", "post": "</a></li></ul>" },
                  { "pre": "<span style=\"float: right;\"><input type=\"text\"><input type=\"hidden\" value=\"", field: "scan", "post": "\">"},
                  { "pre": "<input type=\"hidden\" value=\"", "field": "segment", "post": "\">"},
                  { "pre": "<input type=\"hidden\" value=\"", "field": "int", "post": "\">"},
                  { "pre": "<input type=\"hidden\" value=\"", "field": "dmind", "post": "\">"},
                  { "pre": "<input type=\"hidden\" value=\"", "field": "dtind", "post": "\">"},
                  { "pre": "<input type=\"hidden\" value=\"", "field": "obs", "post": "\"><button onclick=\"add_tag(this)\">Add tag</button></span>"},
                  { "pre": "tags: <p class=\"tag-list\">", "field": "tags", "post": "</p></th>" },
                  { "pre":"<th><img width='100%' src='http://www.aoc.nrao.edu/~claw/realfast/plots/", "field": "candidate_png", "post": "'/></th></tr></table>"}
                ],
              ],
            // selected_filters_in_facet: true,
            show_filter_field : true,
            show_filter_logic: true,
            "pushstate" : false,
            exclude_predefined_filters_from_facets : false
        });
    });
});
  </script>

<style type="text/css">
.facet-view-simple{
    width:1170px;
    height:600px;
    margin:20px auto 0 auto;
}
</style>

</head>
<body>

    <div class="facet-view-simple"></div>

</body>
</html>
