<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>FacetView</title>

  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/1.7.1/jquery-1.7.1.min.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>  

  <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js')}}"></script>

  <!-- note that we require the es.js integration, the bootstrap2 facetview and the facetview core -->
  <script type="text/javascript" src="{{url_for('static', filename='es.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap2.facetview.theme.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery.facetview2.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/facetview.css')}}">

  <script type="text/javascript">
jQuery(document).ready(function($) {
    $('.facet-view-simple').each(function() {
        $(this).facetview({
            search_url : "http://search.realfast.io/api/realfast/cand/_search",
            datatype : "json",
            default_freetext_fuzzify: "*",
            sort: [{"snr1" : {"order" : "desc"}}],
            facets: [ ],
            default_facet_size: 12,
            include_facets_in_url:false,
            include_facets:true,
            from: 0,
            search_sortby: [
                {'display':'snr1',         'field':'snr1'},
                {'display':'obs',         'field':'obs'},
            ],
//            searchbox_fieldselect: [
//                {'display':'snr1',         'field':'snr1'},
//                {'display':'obs',         'field':'obs'},
//            ],
            search_button: false,
            sharesave_link: true,
            debug: false,
            stored_fields: ["obs", "snr1", "scan", "candidate_png", "dmind", "dtind", "int", "segment"],
            render_results_metadata: pageSlider,
            "result_display" : 
              [
                [ 
                  { "pre": "<ul><li>observation: ", "field": "obs", "post": "</li> "},
                  { "pre": "<li>(scan, segment, integration, dm, dt): ", "field": "scan", "post": "," },
                  { "pre": " ", "field": "segment", "post": "," },
                  { "pre": " ", "field": "int", "post": "," },
                  { "pre": " ", "field": "dmind", "post": "," },
                  { "pre": " ", "field": "dtind", "post": "</li>" },
                  { "pre": "<li>snr1: ", "field": "snr1", "post":"</li></ul>"},
                  { "pre":"<img width='100%' src='http://www.aoc.nrao.edu/~claw/plots/", "field": "candidate_png", "post": "'/>"}
                ],
              ],
            // selected_filters_in_facet: true,
            show_filter_field : true,
            show_filter_logic: true,
            "pushstate" : false,
            exclude_predefined_filters_from_facets : false
        });
    });
});

  </script>

  <style type="text/css">
    .facet-view-simple{
      width:1170px;
      height:600px;
      margin:20px auto 0 auto;
    }
  </style>
</head>

<body>
    <div class="facet-view-simple"></div>
</body>

</html>
