<ul>
  <li>prefsname: {{prefsname}}</li>
  <li>channels: {{chans}}</li>
  <li>clustercands: {{clustercands}}</li>
  <li>dmarr: {{dmarr}}</li>
  <li>dtarr: {{dtarr}}</li>
  <li>fftmode: {{fftmode}}</li>
  <li>flaglist: {{flaglist}}</li>
  <li>maxdm: {{maxdm}}</li>
  <li>maximmem: {{maximmem}}</li>
  <li>memory_limit: {{memory_limit}}</li>
  <li>npix_max: {{npix_max}}</li>
  <li>npixx: {{npixx}}</li>
  <li>npixy: {{npixy}}</li>
  <li>rfpipe_version: {{rfpipe_version}}</li>
  <li>savecands: {{savecands}}</li>
  <li>savenoise: {{savenoise}}</li>
  <li>searchtype: {{searchtype}}</li>
  <li>selectpol: {{selectpol}}</li>
  <li>sigma_image1: {{sigma_image1}}</li>
  <li>sigma_kalman: {{sigma_kalman}}</li>
  <li>timesub: {{timesub}}</li>
  <li>uvoversample: {{uvoversample}}</li>
  <li>uvres: {{uvres}}</li>
  <li>workdir: {{workdir}}</li>
</ul>
